/*----- QR Code CSS Start -----*/
.pdf-list-pop {
  filter: blur(10px);
  pointer-events: none;
}
.qrcode-pop {
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  position: fixed;
}
.qrcode-pop-close {
  top: 20%;
  right: 0;
  transform: translate(-50%, -50%);
  position: fixed;
  cursor: pointer;
}
.href-disabled {
  pointer-events: none;
  cursor: default;" 
}
/*----- QR Code CSS End -----*/
